.sign {
  display: flex;
  justify-content: end;
  width: 100%;
  margin: 5px;
}
.sign-item {
  margin: 5px;
}
.form {
  display: table;
}

.navbar {
  background-color: #1a374d;
}

.home-img {
  width: 600px;
  height: 600px;
  border: 5px solid black;
  object-fit: cover;
}

.container-home {
  margin-top: 60px;
  align-items: center;

  width: 100vw;
  height: 600px;
  display: flex;
  justify-content: center;
}
.title-home {
  margin: 50px;
  text-align: center;
}

.center-button {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 10px;
}
.align-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #d3dedc;
  text-align: start;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.conatiner-list {
  margin: 45px;
}

.card-list {
  margin: 10px;
  width: 320px;
  height: 255px;
  border-radius: 10px;
  align-content: stretch;

  background-color: white;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card-list:hover {
  width: 325px;
  height: 260px;
}
.image-list {
  width: 100%;
  height: 200px;
  background-color: black;
}
.create-btn {
  margin: 10px;
}
.delete-edit-btn {
  margin-left: 4px;
}
.back-btn {
<<<<<<< HEAD
  /* margin-left: 40px;
  margin-top: 20px; */

  background-color: rgb(128, 128, 133);
  border: 1px solid rgb(61, 61, 119);
  color: white;
  padding: 10px 24px;
  cursor: pointer;
  width: 10%;
  display: block;
=======
  margin: 20px;
  width: 100px;
}
.theimage {
  width: 100%;
  height: 100%;
  object-fit: cover;
>>>>>>> 5f659cc7fae323df3a9f59e158053a8a477a1a03
}

.title-list {
  height: 45px;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
}
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.slider {
  margin: 20px;
}
.filter {
  display: flex;
  justify-content: center;
  background-color: #d3dedc;
  width: 40%;
  border-radius: 10px;
}
.date-picker {
  margin: 20px;
}

.box {
  background-color: rgba(8, 81, 113, 0.502);
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.title-detail {
  margin: 30px;
  text-align: center;
  border-radius: 10px;
  background-color: white;
  width: 95%;
}
.pic-detail {
  width: 800px;
  height: 600px;
  background-color: black;
  margin: 10px;
  border: 5px solid white;
}
.image-detail {
  overflow: hidden;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.card-detail {
  width: 100%;
  text-align: start;
  padding-left: 16%;
  display: table;
}

.profile-image {
  overflow: hidden;
  object-fit: cover;
  width: 40%;
  height: 40%;
}
.search-bar {
  justify-content: center;
  padding: 0.5rem;
  margin: 1rem auto;
  display: block;
  width: 40%;
}
.date-bar {
  justify-content: center;
  padding: 0.5rem;
  margin: 1rem auto;
  display: block;
  width: 40%;
}
.slideshow {
  width: 50%;
  height: 500px;
}
.social-media {
  background-color: #1a374d;
  color: white;
  padding: 25px 50px;
}
a.social-media {
<<<<<<< HEAD
  margin: 0 1rem;
=======
  margin: 5px;
>>>>>>> 5f659cc7fae323df3a9f59e158053a8a477a1a03
}
a.twitter {
  color: blue;
}
a.Facebook {
  color: rgb(84, 124, 177);
}
a.instagram {
  color: red;
}
<<<<<<< HEAD
.about_us {
  text-align: center;
  font-size: larger;
  padding: 20px;
}
.about-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 1px solid #ddd;
=======

.create-jam3ya-btn {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-top: 25px;
  margin-left: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
>>>>>>> 5f659cc7fae323df3a9f59e158053a8a477a1a03
}
