.sign {
  display: flex;
  justify-content: end;
  width: 100%;
  margin: 5px;
}
.sign-item {
  margin: 5px;
}
.form {
  display: table;
}

.navbar {
  background-color: #1a374d;
}
.button {
  background-color: #6998ab;
  border-radius: 2px;
  margin: 10px;
  color: white;
}
.home-img {
  width: 600px;
  height: 600px;
  border: 5px solid black;
  object-fit: cover;
}

.container-home {
  margin-top: 60px;
  align-items: center;

  width: 100vw;
  height: 600px;
  display: flex;
  justify-content: center;
}
.title-home {
  margin: 50px;
  text-align: center;
}

.center-button {
  display: flex;
  justify-content: center;

  text-align: center;
}
