.sign {
  display: flex;
  text-align: end;
  justify-content: end;
  width: 100%;
}

.navbar {
  background-color: #1a374d;
}
.button {
  background-color: #6998ab;
  border-radius: 2px;
  margin: 10px;
  color: white;
}
.home-img {
  width: 600px;
  height: 400px;
  background-color: black;
  border: 5px solid white;
  object-fit: contain;
}

.container-home {
  margin-top: 50px;
  align-items: center;
  width: 100vw;
  height: 400px;
  display: flex;
  justify-content: center;
}
.title-home {
  margin: 40px;
  text-align: center;
}
